.container {

}

#gameBlock {
    display: none;
    flex-wrap: wrap;
    width: 310px;
}

.block {
    display: none;
    width: 100px;
    height: 100px;
    border: 1px solid #5a5757;
    cursor: pointer;
    text-align: center;
}

.block:hover {
    background-color: #e3e3e3;
}

.margin {
    margin: 20px;
}

.displayFlex {
    display: flex;
    justify-content: space-evenly;
}

.x {
    background-color: indianred;
}

.o {
    background-color: #49ba18;
}

#modal {
    display: none;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 600px;
    height: 500px;
    background-color: #9d6c9c;
    text-align: center;
    font-size: 80px;
    line-height: 5;
}