.container {

}

#gameBlock {
    display: flex;
    flex-wrap: wrap;
    width: 310px;
}

.block {
    width: 100px;
    height: 100px;
    border: 1px solid #5a5757;
    cursor: pointer;
}

.block:hover {
    background-color: #e3e3e3;
}

.margin {
    margin: 20px;
}

.displayFlex {
    display: flex;
    justify-content: space-evenly;
}